@keyframes beggining {
    0%{
        font-size: 60px;
        filter: drop-shadow(0 6px 4px rgb(14, 147, 255));
    }

    50%{
        font-size: 150px;
        filter: drop-shadow(0px 15px 10px rgb(14, 147, 255));
    }

    100%{
        font-size: 60px;
        filter: drop-shadow(0 6px 4px rgb(14, 147, 255));
    }
}

.move{
    animation-name: beggining;
    animation-duration: 1s;
}

.one{
    animation-delay: 0ms;
}

.two{
    animation-delay: 0.1s;
}

.three{
    animation-delay: 0.2s;
}

.four{
    animation-delay: 0.3s;
}

.five{
    animation-delay: 0.4s;
}

.six{
    animation-delay: 0.5s;
}

.seven{
    animation-delay: 0.6s;
}

.eight{
    animation-delay: 0.7s;
}

.nine{
    animation-delay: 0.8s;
}

.ten{
    animation-delay: 0.9s;
}

.eleven{
    animation-delay: 1s;
}

.twelve{
    animation-delay: 1.1s;
}

.thirteen{
    animation-delay: 1.2s;
}

body{
    overflow-y:hidden;
    background: linear-gradient(180deg, rgba(129,0,255,1) 0%, rgb(0, 0, 0) 100%);
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wrapper{
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 100vh;
    align-items: center;
    font-family:monospace;
    color: white;
}

h1{
    font-size: 60px;
    background-color: #f3ec78;
    background-image: linear-gradient(0deg, #f3ec78, #af4261);
    filter: drop-shadow(0px 6px 4px rgb(14, 147, 255));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    text-decoration: none;
    transition: all 500ms;
}

h1:hover{
    font-size: 120px;
    transition: 500px;
    filter: drop-shadow(0px 15px 10px rgb(14, 147, 255));
}

@media (max-width:720px) {
    .wrapper{
        width: 100%;
        height: 50vh;
    }
}